[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wheel = "*"
psycopg2-binary = "*"
SQLAlchemy = "*"
Flask = "*"
Flask-JWT-Extended = "*"
flask-swagger = "*"
Flask-SQLAlchemy = "*"
flask-marshmallow = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
colorama = "*"
requests = "*"

[dev-packages]
pytest = "~=7.2.0"
pytest-cov = "~=4.0.0"
pytest-mock = "~=3.10.0"
pytest-env = "~=0.8.1"
python-dotenv = "*"

[requires]
python_version = "3.9"
